<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <title>Login</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            .login_class_FT{
                width: 200px;
                border-radius: 5px;
            }
            .google-btn{
                width: 200px;
                height: 55px;
                font-size: 30px;
                border-radius: 5px;
                color: #fff;
                background: #fc2525;
                margin-bottom: 20px;
            }
            .containerdiv{
                width: 300px;
                margin: auto;
                border-radius: 5px;
                background-color:rgba(119, 119, 119, 0.151);
            }
            .inputfeild{
                width: 277px;
                height: 30px;
                border: rgba(0, 0, 0, 0);
                border-bottom: rgb(73, 73, 73);
                margin-bottom: 20px;
            }
            #submitlocal{
                width: 200px;
                height: 55px;
                font-size: 30px;
                border-radius: 5px;
                color: #fff;
                background: #3f3c3c;
                margin-bottom: 20px;
            }
            .auth_btn{
                margin-left: 40px;
            }
  
        </style>
    </head>
    <body background="../../media/backgroung.jpg">
        <nav>
            <ul>
                <% if (user) { %>
                    <li><a href="/auth/logout">Log out</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <% } %>
                    <li><a href="/">Homepage</a></li>
                </ul>
            </nav>
            <div class="containerdiv">
            <header>
                <h1>Login</h1>
            </header>
            <main >
                <div id="locallogin">
                        <input class="inputfeild" id="USERNAME" type="text" placeholder="USERNAME">
                        <input class="inputfeild" id="PASSWORD" type="password" placeholder="PASSWWORD">
                        <input class="auth_btn" id="submitlocal" value="LOGIN" type="submit">
                </div>
                <div class="auth_btn">
                    <a href="/auth/42"><img class="login_class_FT" src="../../media/42login.png" alt="42_login"></a>
                </div>
                <br>
                <div class="auth_btn">
                    <a href="/auth/google"><button class="google-btn">Google+</button></a>
                </div>

            
            </main>
        </div>
    </body>
</html>
